.videoImage img{
  width: 70%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  left: 100%;
  padding-top: 10%;

}

.descrip-whole{
    color: white;
}

.descrip{
    color: white;
    margin-right: 10%;
    padding-left: 0px;
    padding-right: 0px;
    filter: none;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 80%;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
    right: 80%;
}

.carousel-row{
  margin: 0% 10% 2% 14%;

}

.carousel{
  margin: 2% 10% 7% 10%;
}

.posts{
  margin: 7% 10% 10% 10%;
  font-family: 'Helvetica';
}

h2{
  font-weight: bold;
}

p, h2{
  color: white;
}

.sidebar-section img{
  width: 100%;
  margin-right: 2%;
}

.sidebar-section2 img{
  width: 90%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.sidebar-section3 img{
  width: 90%;
  margin-right: 2%;
}

.gray{
  background-color: #433E3E;
}

.gradient{
  background: linear-gradient(#433E3E, #fff);
}

.container{
  width: 100%;
}

.post1{
  color: #433E3E;
  padding-top: 1%;
}

h2{
  padding-top: 4%;
}

.post2{
  left: 100%;
}

.trailer-btn, .buy-btn{
  margin-top: 2%;
  padding-left: 0px;
  padding-right: 0px;
}

.trailer-btn{
  background-color: transparent;
}

.carousel-indicators .active{
    border: 0px;
    background-color: transparent;
}

.carousel-indicators li{
  border: 0px;
  background-color: transparent;
}

.blur{
  width: 300%;
  filter: blur(8px);
  position: fixed;
}
